@model RAMS.ViewModels.PositionReportDetailsForPrintViewModel

<!-- POSITION FINAL REPORT PRINTER FRIENDLY PARTIAL -->
@if (Model != null)
{
    if (!RAMS.Helpers.Utilities.IsEmpty(Model.Candidates))
    {
        
    }
    
    <p>Final Report</p>
    
}
else
{

}
<!-- END OF POSITION FINAL REPORT PRINTER FRIENDLY PARTIAL -->
