@model RAMS.ViewModels.PositionReportDetailsForPrintViewModel

<!-- POSITION STATUS REPORT PRINTER FRIENDLY PARTIAL -->
@if (Model != null)
{
    <p>Status Report</p>

}
else
{

}
<!-- END OF POSITION STATUS REPORT PRINTER FRIENDLY PARTIAL -->