<!DOCTYPE html>
@using System.Web.Optimization;
@using RAMS.Helpers;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/favicon.ico")" />
    <title>Recruiting Agency Management System</title>    
    <!-- RENDER STYLES -->
    @Styles.Render("~/bootstrap/css")
    <!-- END OF RENDER STYLES -->
</head>
<body style="height: 100%; height: 100vh;">
    <div class="container body-content vertical-align-center">
        @RenderBody()
    </div>
    <!-- RENDER SCRIPTS -->
    @Scripts.Render("~/bootstrap/js")
    <script type="text/javascript">$(function () { GeneralModalControls(); });</script>
    <!-- END OF RENDER SCRIPTS -->
</body>
</html>