<!-- FAILURE CONFIRMATION PARTIAL -->
    <script type="text/javascript">$(function () { LoadAction('position-list-div', '@Url.Action("PositionDelete", "Position", new { Area = "SystemAdmin" })'); });</script>
    <div class="alert alert-danger bottom-margin-0" role="alert"><div class="text-center"><strong>Selected position(s) could NOT be deleted at this time. Server responce was not successful.</strong></div></div>
    <div class="vertical-padding-24"></div>
<!-- END OF FAILURE CONFIRMATION PARTIAL -->
