<!-- SELECTION FAILURE CONFIRMATION PARTIAL -->
<div class="alert alert-warning bottom-margin-0" role="alert"><div class="text-center"><strong>No selection was made, please select positions you wish to delete and click "Delete" button!</strong></div></div>
<div class="vertical-padding-24"></div>
<!-- END OF SELECTION FAILURE CONFIRMATION PARTIAL -->

