<!-- SUCCESS CONFIRMATION PARTIAL -->
    <script type="text/javascript">$(function () { LoadAction('position-list-div', '@Url.Action("PositionDelete", "Position", new { Area = "SystemAdmin" })'); });</script>
    <div class="alert alert-success bottom-margin-0" role="alert"><div class="text-center"><strong>Selected position(s) has been successfully deleted!</strong></div></div>
    <div class="vertical-padding-24"></div>
<!-- END OF SUCCESS CONFIRMATION PARTIAL -->
