@model RAMS.ViewModels.ConfirmationViewModel
<!-- SUCCESS PARTIAL -->
@if (Model != null)
{
    if (Model.RefreshList)
    {
        <script type="text/javascript">$(function () { LoadAction("department-list-div", "@Url.Action("DepartmentList", "Department", new { Area = "SystemAdmin" })"); });</script>
    }

    <div class="alert alert-success bottom-margin-0" role="alert">
        @Html.Raw(Model.Message)
    </div>
}
<!-- END OF SUCCESS PARTIAL -->
