<!-- PROFILE INDEX VIEW -->
<div class="well well-lg bottom-margin-0 background-white">
    <div id="profile-details-div"></div>


</div>
<script type="text/javascript">$(function () { LoadAction("profile-details-div", "@Url.Action("ProfileDetails", "Profile", new { Area = "Customer" })"); CustomerModalControls(); });</script>
<!-- END OF PROFILE INDEX VIEW -->
