@model RAMS.ViewModels.PositionResultViewModel

<!-- SUCCESS CONFIRMATION PARTIAL -->
@if (Model != null)
{
    if (Model.RefreshList)
    {
        <script type="text/javascript">$(function () { LoadAction("position-list-div", "@Url.Action("PositionList", "Position", new { Area = "Agency" })"); });</script>
    }

    if (Model.RefreshEditForm)
    {
        <script type="text/javascript">$(function () { RefreshPositionEditForm("@Model.PositionId"); });</script>
    }

    <div class="alert alert-success bottom-margin-0" role="alert">
        @Html.Raw(Model.Message)
    </div>

    <div class="vertical-padding-24"></div>
}
<!-- END OF SUCCESS CONFIRMATION PARTIAL -->
