<!-- NEW USER PARTIAL -->
<div class="well well-lg bottom-margin-0 background-white">
    @Html.Action("UserTypeSelect", "User", new { Area = "SystemAdmin" })
</div>

<div class="vertical-padding-24"></div>

<div id="new-user-div" class="well well-lg bottom-margin-0 background-white">
    <div class="alert alert-warning bottom-margin-0" role="alert">
        <h5 class="text-center">Please select User Type.</h5>
    </div>   
</div>
<!-- END OF NEW USER PARTIAL -->