@model RAMS.ViewModels.PositionResultViewModel

<!-- FAILURE CONFIRMATION PARTIAL -->
@if (Model != null)
{
    if (Model.RefreshList)
    {
        <script type="text/javascript">$(function () { LoadAction("position-list-div", "@Url.Action("PositionList", "Position", new { Area = "Customer" })"); });</script>
    }

    <div class="alert alert-danger bottom-margin-0" role="alert">
        @Html.Raw(Model.Message)
    </div>

    <div class="vertical-padding-24"></div>
}
<!-- END OF FAILURE CONFIRMATION PARTIAL -->

