<!-- FAILURE CONFIRMATION PARTIAL -->
<div class="alert alert-success bottom-margin-0" role="alert">
    <div class='text-center'><h4><strong>Failure!</strong></h4></div>
    <div class="text-center">Position closure request could not be subitted at this time.</div>
    <div class="text-center"><strong>NOTE:</strong> If you encounter this issue again in the future, please contact Technical Support with exact steps to reproduce this issue.</div>
</div>

<div class="vertical-padding-24"></div>
<!-- END OF FAILURE CONFIRMATION PARTIAL -->

