<!-- SUCCESS CONFIRMATION PARTIAL -->
    <div class="alert alert-success bottom-margin-0" role="alert">
        <div class='text-center'><h4><strong>Success!</strong></h4></div>
        <div class="text-center">Position closure request has been submitted successfully!</div>
        <div class="text-center"><strong>NOTE:</strong> You will be notified when position closure is complete.</div>
    </div>

    <div class="vertical-padding-24"></div>
<!-- END OF SUCCESS CONFIRMATION PARTIAL -->

