<!-- POSITION INDEX VIEW -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#new-position-modal">New Position</button>

<button type="button" class="btn btn-info pull-right" onclick="LoadAction('position-list-div', '@Url.Action("PositionList", "Position", new { Area = "Customer" })' );">Refresh List</button>

<div class="vertical-padding-24"></div>

<div id="position-list-div"></div>

<!-- NEW POSITION MODAL -->
<div id="new-position-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- MODAL CONTENT -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#new-position-modal').modal('hide');">&times;</button>
                <h4 class="modal-title text-center">New Position</h4>
            </div>
            <div class="modal-body">
                <div class="well well-lg bottom-margin-0">
                    <div id="new-position-modal-body-div"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="$('#new-position-modal').modal('hide');">Close</button>
            </div>
        </div>
        <!-- END OF MODAL CONTENT-->
    </div>
</div>
<!-- END OF NEW POSITION MODAL -->

<script type="text/javascript">$(function () { LoadAction("position-list-div", "@Url.Action("PositionList", "Position", new { Area = "Customer" })"); CustomerModalControls(); });</script>
<!-- END OF POSITION INDEX VIEW -->