body {
    min-width: 700px;
}

.vertical-padding-24
{
    padding-top:24px;
}

.bottom-margin-0
{
    margin-bottom: 0px;
}

.background-white
{
    background-color: white;
}

.vertical-align-top
{
    vertical-align: top;
}

select option:disabled 
{
    display: none;
}

.vertical-align-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cursor-pointer
{
    cursor: pointer;
}

#ui-datepicker-div a.ui-state-default
{
    border-radius: 50%;
    text-align: center;
}

#ui-datepicker-div td
{
    width: 14%;
}

#ui-datepicker-div a.ui-state-highlight
{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

#ui-datepicker-div a.ui-state-highlight:hover
{
    background-color: #ec971f;
    border-color: #d58512;
    color: white;
}

#ui-datepicker-div a.ui-state-active
{
    background-color: #31B0D5;
    border-color: #46B8DA;
    color: white;
    
}

#ui-datepicker-div a.ui-state-active:hover
{
    background-color: #2aabd2;
    border-color: #28a4c9;
    color: white;
}

.form-group.required .control-label:before 
{ 
   content: "*";
   color: red;
}

div.modal .modal-content
{
    min-width: 600px;
}

div.container.body-content
{
    min-width: 800px;
}

td.cell-btn
{
    padding: initial !important;
    vertical-align: middle !important;
}

input.horizontal-align-center
{
    display: block;
    margin: 0 auto;
}



#assign-position-agent-list-table input[type="radio"] 
{
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5) !important;
    transform: scale(1.5) !important;
}

.margin-left-10
{
    margin-left: 10px;
}

#schedule-table td, #schedule-table th
{
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 23px;
}

div.print-container
{
    margin: 0 auto;
    width: 8in;
    padding: 30px;
    box-shadow: -60px 0px 100px -100px rgba(0,0,0,0.75), 60px 0px 100px -100px rgba(0,0,0,0.75);
}

div.print-container table
{
    width: 100%
}

div.print-container table#candidate-list-table tbody tr 
{
    border-top: 1px grey solid;
}

div.print-container table#candidate-list-table tbody td, div.print-container table#candidate-list-table thead th
{
    padding: 5px 2px;
}

div.print-container table tr td
{
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    vertical-align: top;
    overflow-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
}

.print-navbar
{
    position: fixed;
	right: 0;
	top: 20%;
	z-index: 5;
    margin-right: 5px;
    opacity: 0.8;
    -webkit-box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
}

.print-navbar input.btn
{
    width: 100px;
}

.break-page-after
{
    page-break-after: always;
}

.tr-hr
{
    border: 0;
    border-spacing: 10px !important;
    border-top: 1px solid #eee;
}

@media print
{
    @page
    {
        size: letter;
    }

    table 
    { 
        page-break-inside: auto; 
    }
   
    tr    
    { 
        page-break-inside: avoid; 
        page-break-after: auto;
    }

    tr.break-page-after
    {
        display: block;
    }

    .not-printable
    {
        display: none;
    }

    div.print-container
    {
        padding: 0;
    }

    a[href]:after 
    {
        content: none;
    }
}