body {
    min-width: 700px;
}

.body-agent
{
    background: url(../Content/Images/body-agent-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-client
{
    background: url(../Content/Images/body-client-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-admin
{
    background: url(../Content/Images/body-admin-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-login
{
    background: url(../Content/Images/body-login-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer .footer-text
{
    color: white;
    font-weight: bold;
}


.well:not(.background-white)
{
    -webkit-box-shadow: inset 0px 0px 41px -2px rgba(150,150,150,0.75);
    -moz-box-shadow: inset 0px 0px 41px -2px rgba(150,150,150,0.75);
    box-shadow: inset 0px 0px 41px -2px rgba(150,150,150,0.75);
}

.vertical-padding-24
{
    padding-top:24px;
}

.bottom-margin-0
{
    margin-bottom: 0px;
}

.background-white
{
    background-color: white;
}

.vertical-align-top
{
    vertical-align: top;
}

select option:disabled 
{
    display: none;
}

.vertical-align-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cursor-pointer
{
    cursor: pointer;
}

#ui-datepicker-div a.ui-state-default
{
    border-radius: 50%;
    text-align: center;
}

#ui-datepicker-div td
{
    width: 14%;
}

#ui-datepicker-div a.ui-state-highlight
{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

#ui-datepicker-div a.ui-state-highlight:hover
{
    background-color: #ec971f;
    border-color: #d58512;
    color: white;
}

#ui-datepicker-div a.ui-state-active
{
    background-color: #31B0D5;
    border-color: #46B8DA;
    color: white;
    
}

#ui-datepicker-div a.ui-state-active:hover
{
    background-color: #2aabd2;
    border-color: #28a4c9;
    color: white;
}

.form-group.required .control-label:before 
{ 
   content: "*";
   color: red;
}

div.modal .modal-content
{
    min-width: 600px;
}

div.container.body-content
{
    min-width: 800px;
}

td.cell-btn
{
    padding: initial !important;
    vertical-align: middle !important;
}

input.horizontal-align-center
{
    display: block;
    margin: 0 auto;
}

.btn-tiny
{
    padding: 0 10px;
}

.btn-info
{
    border:1px solid #25729a; 
    padding: 8px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #FFFFFF;
    background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.btn-info:hover
{
    border:1px solid #1c5675;
    padding: 8px;
    background-color: #26759e; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(to bottom, #26759e, #133d5b);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.btn-danger
{
    border:1px solid #d10000; 
    padding: 8px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold; 
    background-color: #FF0A0A; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF0A0A), to(#750101));
    background-image: -webkit-linear-gradient(top, #FF0A0A, #750101);
    background-image: -moz-linear-gradient(top, #FF0A0A, #750101);
    background-image: -ms-linear-gradient(top, #FF0A0A, #750101);
    background-image: -o-linear-gradient(top, #FF0A0A, #750101);
    background-image: linear-gradient(to bottom, #FF0A0A, #750101);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF0A0A, endColorstr=#750101);
}

.btn-danger:hover
{
    border:1px solid #a30000;
    padding: 8px;
    background-color: #d60000; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d60000), to(#420101));
    background-image: -webkit-linear-gradient(top, #d60000, #420101);
    background-image: -moz-linear-gradient(top, #d60000, #420101);
    background-image: -ms-linear-gradient(top, #d60000, #420101);
    background-image: -o-linear-gradient(top, #d60000, #420101);
    background-image: linear-gradient(to bottom, #d60000, #420101);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d60000, endColorstr=#420101);
}

.btn-default
{
    border:1px solid #b7b7b7; 
    padding: 8px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #FFFFFF;
    background-color: #d3d3d3; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(to bottom, #d3d3d3, #707070);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

.btn-default:hover
{
     border:1px solid #a0a0a0;
     padding: 8px;
     color: #FFFFFF; 
     background-color: #bababa; 
     background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
     background-image: -webkit-linear-gradient(top, #bababa, #575757);
     background-image: -moz-linear-gradient(top, #bababa, #575757);
     background-image: -ms-linear-gradient(top, #bababa, #575757);
     background-image: -o-linear-gradient(top, #bababa, #575757);
     background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

#assign-position-agent-list-table input[type="radio"], .element-size-150
{
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5) !important;
    transform: scale(1.5) !important;
}

.margin-left-10
{
    margin-left: 10px;
}

#schedule-table td, #schedule-table th
{
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 23px;
}

div.print-container
{
    margin: 0 auto;
    width: 8in;
    padding: 30px;
    box-shadow: -60px 0px 100px -100px rgba(0,0,0,0.75), 60px 0px 100px -100px rgba(0,0,0,0.75);
}

div.print-container table
{
    width: 100%
}

div.print-container table#candidate-list-table tbody tr 
{
    border-top: 1px grey solid;
}

div.print-container table#candidate-list-table tbody td, div.print-container table#candidate-list-table thead th
{
    padding: 5px 2px;
}

nav.navbar.navbar-default 
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#b3b3b3', GradientType=0);
    background-image: -webkit-linear-gradient(top, white 0%, #b3b3b3 100%);
    background-image: linear-gradient(to bottom, white 0%, #b3b3b3 100%);
    background-repeat: repeat-x;    
}

ul.nav.navbar-nav li.active a
{
    -webkit-box-shadow: inset 0px 0px 20px -1px rgba(148,148,148,1);
    -moz-box-shadow: inset 0px 0px 20px -1px rgba(148,148,148,1);
    box-shadow: inset 0px 0px 20px -1px rgba(148,148,148,1);
}

div.print-container table tr td
{
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    vertical-align: top;
    overflow-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
}

.print-navbar
{
    position: fixed;
	right: 0;
	top: 20%;
	z-index: 5;
    margin-right: 5px;
    opacity: 0.8;
    -webkit-box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -15px rgba(0,0,0,0.75);
}

.print-navbar input.btn
{
    width: 100px;
}

.break-page-after
{
    page-break-after: always;
}

.tr-hr
{
    border: 0;
    border-spacing: 10px !important;
    border-top: 1px solid #eee;
}

@media print
{
    @page
    {
        size: letter;
    }

    table 
    { 
        page-break-inside: auto; 
    }
   
    tr    
    { 
        page-break-inside: avoid; 
        page-break-after: auto;
    }

    tr.break-page-after
    {
        display: block;
    }

    .not-printable
    {
        display: none;
    }

    div.print-container
    {
        padding: 0;
    }

    a[href]:after 
    {
        content: none;
    }
}