@model RAMS.ViewModels.ConfirmationViewModel
<!-- CONFIRMATION PARTIAL -->
@if (Model != null)
{
    <div class="alert alert-warning bottom-margin-0" role="alert">
        @Html.Raw(Model.Message)
    </div>

    <div class="vertical-padding-24"></div>
}
<!-- END OF CONFIRMATION PARTIAL -->
