@model RAMS.ViewModels.UserConfirmationViewModel
<!-- FORGOT PASSWORD CONFIRMATION PARTIAL -->
@if (Model != null)
{
    <div class="alert alert-warning bottom-margin-0" role="alert">
        @Html.Raw(Model.Message)
    </div>
}
<!-- END OF FORGOT PASSWORD CONFIRMATION PARTIAL -->
